<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oim.meeting.dao.meeting-mapper"> <!--모임목록 뿌리기 -->
	<select id="meetingListData" resultType="MeetingVO" parameterType="java.util.Map">
		 SELECT meet_no, meet_poster, meet_charge, meet_cg, TO_CHAR(to_date(meet_start, 'YYYY-MM-DD HH24:MI'),'YY/MM/DD') as meet_start, TO_CHAR(to_date(meet_end, 'YYYY-MM-DD HH24:MI'),'YY/MM/DD') as meet_end, meet_subject, meet_like, num
         FROM (SELECT meet_no, meet_poster, meet_charge, meet_cg, meet_start, meet_end, meet_subject, meet_like, rownum as num
         FROM (SELECT meet_no, meet_poster, meet_charge, meet_cg, meet_start, meet_end, meet_subject, meet_like
         FROM meeting ORDER BY meet_no ASC))
         WHERE num BETWEEN #{start} AND #{end}            	
	</select>
	<select id="meetingDetailData" resultType="MeetingVO" parameterType="int">
      SELECT m.meet_cg,m.meet_poster,o.om_name,o.om_id,o.om_company,m.meet_subject,TO_CHAR(to_date(m.meet_start, 'YYYY-MM-DD HH24:MI'),'YY/MM/DD') as meet_start,
      TO_CHAR(to_date(m.meet_end, 'YYYY-MM-DD HH24:MI'),'YY/MM/DD') as meet_end,
      m.meet_loc, m.meet_total, m.meet_limit, m.meet_info, m.meet_price, m.meet_like, m.meet_hit, m.meet_detail, m.meet_lat, m.meet_lng
      FROM meeting m , oim_member o
      WHERE o.om_id=m.om_id AND m.meet_no=#{meet_no}              
   	</select>
	<select id="meetingTotalPage" resultType="int"> <!--총 페이지수 구하기  -->
		SELECT CEIL(COUNT(*)/12) FROM meeting
	</select>
	<select id=""></select>
</mapper>