#carousel {
  height: 600px;
 /*  margin-top: 0px; */
  overflow: hidden;
  padding:5%;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 20%;
  opacity: 0.5;
  transform: translateY(77.5%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 150px;
}
#carousel div.hideRight {
  left: 80%;
  opacity: 0.5;
  transform: translateY(77.5%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 150px;
  height: 150px;
}
#carousel div.prev {
  z-index: 5;
  left: 35%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 25%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 65%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 75%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
  height: 200px;
}