@charset "UTF-8";

* {
	color: black;
}

.label {
	padding: 10px 8px 10px;
}

@media ( min-width : 768px) {
	.label {
		padding: .0em .0em .0em;
	}
}

@media ( min-width : 992px) {
	.label {
		padding: 10px 8px 10px;
	}
}

.row > div > span{
	display: block;
	text-align: left;
}
.checkbtn {
	text-align: left;
	font-size: 80%;
	font-weight: bold;
	width: 100%;
}
.border-submit{
	margin-top:15px;
	padding : 15px;
	border: 2px solid #dce2e7;
	border-left: none;
	border-right: none;
}
.border-trim{
	background-color:#fcbe03;
	margin-bottom:5%;
}

.input-group-addon.primary {
	color: rgb(255, 255, 255);
	background-color: rgb(50, 118, 177);
	border-color: rgb(40, 94, 142);
}

.input-group-addon.success {
    color: rgb(255, 255, 255);
    background-color: rgb(92, 184, 92);
    border-color: rgb(76, 174, 76);
}
.input-group-addon.info {
    color: rgb(255, 255, 255);
    background-color: rgb(57, 179, 215);
    border-color: rgb(38, 154, 188);
}
.input-group-addon.warning {
    color: rgb(255, 255, 255);
    background-color: rgb(240, 173, 78);
    border-color: rgb(238, 162, 54);
}
.input-group-addon.danger {
    color: rgb(255, 255, 255);
    background-color: rgb(217, 83, 79);
    border-color: rgb(212, 63, 58);
}





.btn.outline {
    background: none;
    padding: 8px 18px;
}
.btn-primary.outline {
    border: 2px solid #0099cc;
    color: #0099cc;
    font-weight: bold;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

#SubContentsTab {
	height: 61px;
}
#SubContentsTab ul::after {
	content: " ";
	display: block;
	clear: both;
}
#SubContentsTab ul li {
	float: left;
	list-style:none;
}
#SubContentsTab ul li a {
	display: block;
	width: 380px;
	height: 38px;
	border-top: 1px solid #dce2e7;
	border-right: 1px solid #dce2e7;
	border-bottom: 2px solid #ffd100;
	line-height: 38px;
	font-weight: bold;
	text-align: center;
	color: #474747;
	background-color: #fbfbfb;
}
#SubContentsTab ul li:first-child a {
	border-left: 1px solid #dce2e7;
}
#SubContentsTab ul li a.on {
	width: 379px;
	height: 37px;
	margin-left: -1px;
	padding-bottom: 2px;
	border: 2px solid #ffd100;
	border-bottom: none;
	background-color: #fff;
}
#SubContentsTab ul li:first-child a.on {
	margin-left: 0px;
}
 
 
@media ( min-width : 768px) {
	#SubContentsTab ul li a {
		width: 239px;
	}
	#SubContentsTab ul li a.on {
		width: 238px;
	}
}

@media ( min-width : 992px) {
	#SubContentsTab ul li a {
		width: 380px;
	}
	#SubContentsTab ul li a.on {
		width: 379px;
	}
}