<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oim.member.dao.member-mapper">
<select id="OimIdcheck" resultType="int" parameterType="String"> <!-- 회원가입) 아이디 중복체크ㅡ -->
	SELECT COUNT(*) FROM oim_member WHERE om_id=#{om_id}
</select>
<insert id="OimJoin" parameterType="MemberVO"> <!-- 회원가입 -->
	INSERT INTO oim_member VALUES(#{om_id},#{om_pwd},#{om_name},#{om_birth},#{om_gender},#{om_tel},#{om_company},SYSDATE)
</insert>
<select id="OimLogincheck" resultType="int" parameterType="String"> <!-- 로그인) 아이디 존재 여부 -->
	SELECT COUNT(*) FROM oim_member WHERE om_id=#{om_id}
</select>
<select id="OimLogin" resultType="MemberVO" parameterType="String">
	SELECT om_id,om_pwd,om_name,om_birth,om_gender,om_tel,om_company,om_regdate FROM oim_member WHERE om_id=#{om_id}
</select>
<update id="OimUpdate" parameterType="MemberVO">
	UPDATE oim_member SET om_tel=#{om_tel},om_pwd=#{om_pwd} WHERE om_id=#{om_id}
</update>
<select id="OimDeletecheck" resultType="String" parameterType="String"> <!-- 회원탈퇴) 비밀번호 확인 -->
	SELECT om_pwd FROM oim_member WHERE om_id=#{om_id}
</select>
<delete id="OimDelete" parameterType="String">
	DELETE FROM oim_member WHERE om_id=#{om_id}
</delete>
<select id="Oimmypagehome" resultType="MemberVO" parameterType="String"> <!-- 마이페이지 홈  -->
	SELECT om_tel,om_gender,om_regdate FROM oim_member where om_id=#{om_id}
</select>



<!-- 메인 데이터 -->
<select id="MainSlider" resultType="MeetingVO">
	SELECT meet_no, meet_poster, meet_subject, meet_like
	FROM meeting
	ORDER BY meet_like DESC
</select>
<select id="TodayMeeting" resultType="MeetingVO"><!-- 오늘의 모임 -->
	SELECT meet_no, meet_poster, meet_charge,meet_subject,meet_cg,TO_CHAR(to_date(meet_end, 'YYYY-MM-DD HH24:MI'),'YY-MM-DD') as meet_end
	FROM meeting	
	ORDER BY meet_regdate DESC                     	
</select>
<select id="EventMeeting" resultType="MeetingVO"><!-- 초대이벤트 -->
	SELECT meet_no, meet_poster,meet_subject,meet_cg FROM meeting	   
	WHERE meet_subject LIKE '%'||'초대이벤트'||'%'  
	ORDER BY meet_like DESC  	
</select>
<select id="StudyTagMeeting" resultType="MeetingVO"><!-- 취업 태그모임 -->
	SELECT meet_no, meet_poster,meet_charge,meet_subject,meet_hit
	FROM meeting
	WHERE meet_subject LIKE '%'||'스터디'||'%'
	ORDER BY meet_hit DESC
</select>
<select id="HobbyTagMeeting" resultType="MeetingVO">
	SELECT meet_no, meet_poster,meet_charge,meet_subject,meet_hit
	FROM meeting
	WHERE meet_subject LIKE '%'||'취미'||'%'
	ORDER BY meet_hit DESC
</select>
<select id="MuTagMeeting" resultType="MeetingVO">
	SELECT meet_no, meet_poster,meet_charge,meet_subject,meet_hit
	FROM meeting
	WHERE meet_cg LIKE '%'||'전시'||'%'
	ORDER BY meet_hit DESC
</select>
<select id="ProTagMeeting" resultType="MeetingVO">
	SELECT meet_no, meet_poster,meet_charge,meet_subject,meet_hit
	FROM meeting
	WHERE UPPER(meet_subject) LIKE '%'||UPPER('it')||'%'
	ORDER BY meet_hit DESC
</select>
<select id="HotMeeting" resultType="MeetingVO"><!-- 핫모임 -->
	SELECT meet_no,meet_poster,meet_subject
	FROM meeting
	ORDER BY meet_hit DESC
</select>
</mapper>